*{
  padding: 0;
  margin: 0;
}

.container{
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  background: linear-gradient(to right bottom, #ACB1D6, #303b71);
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-wrapper{
  background-color: #DBDFEA;
  min-width: 450px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px rgba(0,0,0,0.5);
  margin-bottom: 10px;
}

.todo-wrapper h1{
  color: #303b71;
  text-align: center;
  margin: 30px 0;
}
.todo-input{
  outline: none;
  width: 260px;
  padding: 15px;
  margin-right: 25px;
  font-size: 20px;
  color: #0f0f0f;
  background-color: #fff;
   border: 1px solid #8f8e8d;
  border-radius: 10px;
}

.todo-btn{
  width: 100px;
  padding: 0.55rem;
  height: 100%;
  font-size: 20px;
  border-radius: 10px;
  border:0;
  background-color: #576CBC;
  cursor: pointer;
  color: #fff;
}

.todo-btn:hover{
  background-color: #303b71;
}

.todo{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 10px ;
  border: 1px solid #9f9d9d;
  background-color: #576CBC;
  color: #fff;
  border-radius: 10px;
  max-height: 30px;
  
}

.delete-icon, 
.edit-icon{
  padding: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 20px;
  border-radius: 50%;
}

.todo p{
  font-size: 20px;
  cursor: pointer;
  padding: 5px ;
  margin-right: 15px;
}


.completed{
  text-decoration-style: solid;
  text-decoration-line: line-through;
  text-decoration-color: #040404;
  cursor: pointer;
  opacity: 0.6;
}


input:focus,
button:focus{
  outline: none; 
}