*{
  padding: 0;
  margin: 0;
  background-color:white
}
.todo-wrapper{
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(228, 28, 255, 0.1);
  /* color: white; */
}
/* .todo-form{ */
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; */
  /* color: white; */
/* } */
/* .todo p{
    text-decoration: line-through;
} */